body {
    font-family: 'Nanum Gothic', sans-serif;
}

.merriweather {
    font-family: 'Merriweather', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', sans-serif;
}
